In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('cell2celltrain - Copy.csv')
df.head()

,CustomerID,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,...,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,PrizmCode,Occupation,MaritalStatus
0,3000002,Yes,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,...,0,4,No,0,30,Yes,1-Highest,Suburban,Professional,No
1,3000010,Yes,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,...,0,5,No,0,30,No,4-Medium,Suburban,Professional,Yes
2,3000014,No,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,...,0,6,No,0,Unknown,No,3-Good,Town,Crafts,Yes
3,3000022,No,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,...,0,6,No,0,10,No,4-Medium,Other,Other,No
4,3000026,Yes,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,...,0,9,No,1,10,No,1-Highest,Other,Professional,Yes

This data has 51047 rows and 58 attributes

In [3]:
df.columns

Index(['CustomerID', 'Churn', 'MonthlyRevenue', 'MonthlyMinutes',
       'TotalRecurringCharge', 'DirectorAssistedCalls', 'OverageMinutes',
       'RoamingCalls', 'PercChangeMinutes', 'PercChangeRevenues',
       'DroppedCalls', 'BlockedCalls', 'UnansweredCalls', 'CustomerCareCalls',
       'ThreewayCalls', 'ReceivedCalls', 'OutboundCalls', 'InboundCalls',
       'PeakCallsInOut', 'OffPeakCallsInOut', 'DroppedBlockedCalls',
       'CallForwardingCalls', 'CallWaitingCalls', 'MonthsInService',
       'UniqueSubs', 'ActiveSubs', 'ServiceArea', 'Handsets', 'HandsetModels',
       'CurrentEquipmentDays', 'AgeHH1', 'AgeHH2', 'ChildrenInHH',
       'HandsetRefurbished', 'HandsetWebCapable', 'TruckOwner', 'RVOwner',
       'Homeownership', 'BuysViaMailOrder', 'RespondsToMailOffers',
       'OptOutMailings', 'NonUSTravel', 'OwnsComputer', 'HasCreditCard',
       'RetentionCalls', 'RetentionOffersAccepted', 'NewCellphoneUser',
       'NotNewCellphoneUser', 'ReferralsMadeBySubscriber', 'IncomeGroup',
       'OwnsMotorcycle', 'AdjustmentsToCreditRating', 'HandsetPrice',
       'MadeCallToRetentionTeam', 'CreditRating', 'PrizmCode', 'Occupation',
       'MaritalStatus'],
      dtype='object')

In [4]:
print("Percentage of churners:"+ str((df['Churn']=='Yes').sum()/510.47))

Percentage of churners:28.81853977706819

There are 14 columns which have missing values in them

A column wise tally might help us understand better which attributes contribute most to missing data

In [5]:
missing_tally = df.isnull().sum()
m = missing_tally[missing_tally>0]
m

MonthlyRevenue           156
MonthlyMinutes           156
TotalRecurringCharge     156
DirectorAssistedCalls    156
OverageMinutes           156
RoamingCalls             156
PercChangeMinutes        367
PercChangeRevenues       367
ServiceArea               24
Handsets                   1
HandsetModels              1
CurrentEquipmentDays       1
AgeHH1                   909
AgeHH2                   909
dtype: int64

The dataframe description might help decide how to deal with these columns

In [6]:
df[m.index].describe()

,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,Handsets,HandsetModels,CurrentEquipmentDays,AgeHH1,AgeHH2
count,50891.000000,50891.000000,50891.000000,50891.000000,50891.000000,50891.000000,50680.000000,50680.000000,51046.000000,51046.000000,51046.000000,50138.000000,50138.000000
mean,58.834492,525.653416,46.830088,0.895229,40.027785,1.236244,-11.547908,-1.191985,1.805646,1.558751,380.545841,31.338127,21.144142
std,44.507336,529.871063,23.848871,2.228546,96.588076,9.818294,257.514772,39.574915,1.331173,0.905932,253.801982,22.094635,23.931368
min,-6.170000,0.000000,-11.000000,0.000000,0.000000,0.000000,-3875.000000,-1107.700000,1.000000,1.000000,-5.000000,0.000000,0.000000
25%,33.610000,158.000000,30.000000,0.000000,0.000000,0.000000,-83.000000,-7.100000,1.000000,1.000000,205.000000,0.000000,0.000000
50%,48.460000,366.000000,45.000000,0.250000,3.000000,0.000000,-5.000000,-0.300000,1.000000,1.000000,329.000000,36.000000,0.000000
75%,71.065000,723.000000,60.000000,0.990000,41.000000,0.300000,66.000000,1.600000,2.000000,2.000000,515.000000,48.000000,42.000000
max,1223.380000,7359.000000,400.000000,159.390000,4321.000000,1112.400000,5192.000000,2483.500000,24.000000,15.000000,1812.000000,99.000000,99.000000

In [7]:
x=df[df['ServiceArea'].isna()]
x[['ServiceArea','PrizmCode']]

      ServiceArea PrizmCode
2025          NaN     Other
2866          NaN     Other
6098          NaN     Rural
9326          NaN      Town
10460         NaN     Other
12709         NaN     Other
12903         NaN     Other
13933         NaN     Rural
16172         NaN  Suburban
16324         NaN     Other
16570         NaN     Other
16591         NaN     Other
17308         NaN  Suburban
17489         NaN  Suburban
19024         NaN  Suburban
20139         NaN     Other
23482         NaN     Other
24205         NaN  Suburban
24282         NaN     Other
27907         NaN      Town
29239         NaN  Suburban
36285         NaN      Town
40425         NaN  Suburban
42580         NaN     Other

Let us see the most frequent service areas which have the most frequent PrizmCode (Other seems to be most frequent at 48% )

In [8]:
other_prizmcode = df[df['PrizmCode']=='Other']
other_prizmcode['ServiceArea'].mode()

0    NYCBRO917
dtype: object

We can now proceed to fil up the missing service area values by NYCBRO917

In [9]:
df['ServiceArea'].fillna('NYCBRO917',inplace=True)

Next we deal with the three columns which have a single missing value each. We fill them using most frequent values. 

Handsets has min and most frequent values both 1. The mean value is 1.8. Since replacing with another mean value does not change the overall mean we could choose it. However, number of handsets is not going to be fractional. So perhaps min/mode is a better choice.  

HandsetModels can be replaced similarly (min/mode is 1)

For CurrentEquipmentDays we choose the median (380)

In [10]:
"""
df['Handsets'].fillna(1.0, inplace=True)
df['HandsetModels'].fillna(1.0,inplace=True)
df['CurrentEquipmentDays'].fillna(380.54, inplace= True)
"""

"\ndf['Handsets'].fillna(1.0, inplace=True)\ndf['HandsetModels'].fillna(1.0,inplace=True)\ndf['CurrentEquipmentDays'].fillna(380.54, inplace= True)\n"

For some of the remaining 10 columns, we can make use of Multiple Imputations with Chained Equations
But AgeHH1 and AgeHH2 we fill up with mode

In [11]:
df['AgeHH1'].fillna(0.0, inplace = True)
df['AgeHH2'].fillna(0.0, inplace = True)

In [12]:
missing_tally1 = df.isnull().sum()
m1 = missing_tally1[missing_tally1>0]
m1

MonthlyRevenue           156
MonthlyMinutes           156
TotalRecurringCharge     156
DirectorAssistedCalls    156
OverageMinutes           156
RoamingCalls             156
PercChangeMinutes        367
PercChangeRevenues       367
Handsets                   1
HandsetModels              1
CurrentEquipmentDays       1
dtype: int64

In [13]:
#Converting non-numeric columns to numeric columns
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
 

enc.fit(df['Churn'])
df['Churn'] = enc.transform(df['Churn'])




import numpy as np
numeric_only_cols = df.select_dtypes(include=np.number).columns.tolist()
#numeric_only_cols
all_cols = df.columns.tolist()

ob_cols = [x for x in all_cols if x not in numeric_only_cols]
ob_cols

['ServiceArea',
 'ChildrenInHH',
 'HandsetRefurbished',
 'HandsetWebCapable',
 'TruckOwner',
 'RVOwner',
 'Homeownership',
 'BuysViaMailOrder',
 'RespondsToMailOffers',
 'OptOutMailings',
 'NonUSTravel',
 'OwnsComputer',
 'HasCreditCard',
 'NewCellphoneUser',
 'NotNewCellphoneUser',
 'OwnsMotorcycle',
 'HandsetPrice',
 'MadeCallToRetentionTeam',
 'CreditRating',
 'PrizmCode',
 'Occupation',
 'MaritalStatus']

In [14]:
ob_cols.remove('HandsetPrice')
ob_cols.remove('CreditRating')
ob_cols.remove('ServiceArea')

In [15]:
df = pd.get_dummies(df, columns=['PrizmCode','Occupation'])

In [16]:
ob_cols.remove('PrizmCode')
ob_cols.remove('Occupation')
ob_cols.remove('MaritalStatus')

for item in ob_cols:
    print(df[item].unique())

['No' 'Yes']
['No' 'Yes']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['Known' 'Unknown']
['Yes' 'No']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['Yes' 'No']
['Yes' 'No']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']
['Yes' 'No']

In [17]:
for item in ob_cols:
    enc.fit(df[item])
    df[item] = enc.transform(df[item])

Convert the 'unknowns' of Handsetprice to 'NaN' values for imputation. Do same for Marital Status

In [18]:
df['HandsetPrice'].replace('Unknown',np.NaN,inplace = True)
df['MaritalStatus'].replace('Yes',1, inplace=True)
df['MaritalStatus'].replace('No',0, inplace=True)
df['MaritalStatus'].replace('Unknown',np.NaN, inplace= True)


for item in df['CreditRating'].unique():
    num = 8-int(item[0])
    df['CreditRating'].replace(item,num, inplace=True)
    
df = df.drop('ServiceArea', axis=1)

In [19]:
df['MaritalStatus'].unique()

array([ 0.,  1., nan])

In [20]:
df.dtypes

CustomerID                   int64
Churn                        int32
MonthlyRevenue             float64
MonthlyMinutes             float64
TotalRecurringCharge       float64
                            ...
Occupation_Other             uint8
Occupation_Professional      uint8
Occupation_Retired           uint8
Occupation_Self              uint8
Occupation_Student           uint8
Length: 67, dtype: object

In [21]:
#import fancyimpute
from fancyimpute import IterativeImputer

In [22]:
missing_tally2 = df.isnull().sum()
m2 = missing_tally2[missing_tally2>0]
m2

MonthlyRevenue             156
MonthlyMinutes             156
TotalRecurringCharge       156
DirectorAssistedCalls      156
OverageMinutes             156
RoamingCalls               156
PercChangeMinutes          367
PercChangeRevenues         367
Handsets                     1
HandsetModels                1
CurrentEquipmentDays         1
HandsetPrice             28982
MaritalStatus            19700
dtype: int64

In [23]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df.head()

,CustomerID,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,BlockedCalls,UnansweredCalls,CustomerCareCalls,ThreewayCalls,ReceivedCalls,OutboundCalls,InboundCalls,PeakCallsInOut,OffPeakCallsInOut,DroppedBlockedCalls,CallForwardingCalls,CallWaitingCalls,MonthsInService,UniqueSubs,ActiveSubs,Handsets,HandsetModels,CurrentEquipmentDays,AgeHH1,AgeHH2,ChildrenInHH,HandsetRefurbished,HandsetWebCapable,TruckOwner,RVOwner,Homeownership,BuysViaMailOrder,RespondsToMailOffers,OptOutMailings,NonUSTravel,OwnsComputer,HasCreditCard,RetentionCalls,RetentionOffersAccepted,NewCellphoneUser,NotNewCellphoneUser,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,MaritalStatus,PrizmCode_Other,PrizmCode_Rural,PrizmCode_Suburban,PrizmCode_Town,Occupation_Clerical,Occupation_Crafts,Occupation_Homemaker,Occupation_Other,Occupation_Professional,Occupation_Retired,Occupation_Self,Occupation_Student
0,3000002,1,24.00,219.0,22.0,0.25,0.0,0.0,-157.0,-19.0,0.7,0.7,6.3,0.0,0.0,97.2,0.0,0.0,58.0,24.0,1.3,0.0,0.3,61,2,1,2.0,2.0,361.0,62.0,0.0,0,0,1,0,0,0,1,1,0,0,1,1,1,0,0,0,0,4,0,0,30,1,7,0.0,0,0,1,0,0,0,0,0,1,0,0,0
1,3000010,1,16.99,10.0,17.0,0.00,0.0,0.0,-4.0,0.0,0.3,0.0,2.7,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.3,0.0,0.0,58,1,1,2.0,1.0,1504.0,40.0,42.0,1,0,0,0,0,0,1,1,0,0,1,1,0,0,1,0,0,5,0,0,30,0,4,1.0,0,0,1,0,0,0,0,0,1,0,0,0
2,3000014,0,38.00,8.0,38.0,0.00,0.0,0.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.4,0.3,0.0,1.3,3.7,0.0,0.0,0.0,60,1,1,1.0,1.0,1812.0,26.0,26.0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,6,0,0,NaN,0,5,1.0,0,0,0,1,0,1,0,0,0,0,0,0
3,3000022,0,82.28,1312.0,75.0,1.24,0.0,0.0,157.0,8.1,52.0,7.7,76.0,4.3,1.3,200.3,370.3,147.0,555.7,303.7,59.7,0.0,22.7,59,2,2,9.0,4.0,458.0,30.0,0.0,0,0,1,0,0,0,1,1,0,0,0,1,0,0,1,0,0,6,0,0,10,0,4,0.0,1,0,0,0,0,0,0,1,0,0,0,0
4,3000026,1,17.14,0.0,17.0,0.00,0.0,0.0,0.0,-0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53,2,2,4.0,3.0,852.0,46.0,54.0,0,0,0,0,0,0,1,1,0,0,1,1,0,0,0,1,0,9,0,1,10,0,7,1.0,1,0,0,0,0,0,0,0,1,0,0,0

In [24]:
#Drop Customer ID and split up the dataframe as needed

df = df.drop('CustomerID', axis = 1)

from sklearn.model_selection import train_test_split
Train ,  Test = train_test_split(df, test_size = 0.35)


Train.head()

,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,BlockedCalls,UnansweredCalls,CustomerCareCalls,ThreewayCalls,ReceivedCalls,OutboundCalls,InboundCalls,PeakCallsInOut,OffPeakCallsInOut,DroppedBlockedCalls,CallForwardingCalls,CallWaitingCalls,MonthsInService,UniqueSubs,ActiveSubs,Handsets,HandsetModels,CurrentEquipmentDays,AgeHH1,AgeHH2,ChildrenInHH,HandsetRefurbished,HandsetWebCapable,TruckOwner,RVOwner,Homeownership,BuysViaMailOrder,RespondsToMailOffers,OptOutMailings,NonUSTravel,OwnsComputer,HasCreditCard,RetentionCalls,RetentionOffersAccepted,NewCellphoneUser,NotNewCellphoneUser,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,MaritalStatus,PrizmCode_Other,PrizmCode_Rural,PrizmCode_Suburban,PrizmCode_Town,Occupation_Clerical,Occupation_Crafts,Occupation_Homemaker,Occupation_Other,Occupation_Professional,Occupation_Retired,Occupation_Self,Occupation_Student
2019,1,38.98,334.0,47.0,0.00,4.0,0.0,-16.0,-9.0,7.7,2.3,27.3,5.3,0.0,68.4,14.7,5.0,93.7,24.0,10.7,0.0,0.0,37,1,1,4.0,3.0,267.0,42.0,38.0,1,0,1,1,0,0,1,1,0,1,1,1,1,0,0,1,0,6,0,0,30,1,7,1.0,0,0,0,1,0,0,0,0,1,0,0,0
3644,0,29.61,95.0,30.0,0.00,2.0,0.0,148.0,0.4,2.3,1.3,5.0,0.7,0.0,12.4,3.3,0.0,8.7,7.0,3.7,0.0,0.0,33,3,2,2.0,2.0,236.0,0.0,0.0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,60,0,7,NaN,1,0,0,0,0,0,0,1,0,0,0,0
50832,0,40.44,134.0,30.0,0.00,29.0,0.0,56.0,11.3,0.0,0.0,14.0,0.0,0.0,4.5,3.7,0.0,15.7,12.7,0.0,0.0,0.0,27,1,1,1.0,1.0,830.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,NaN,0,3,0.0,0,0,1,0,0,0,0,0,1,0,0,0
38456,0,63.11,654.0,45.0,4.21,65.0,0.8,109.0,-20.1,7.3,3.0,45.0,14.0,2.0,170.8,36.7,0.0,164.3,158.7,10.3,0.0,3.0,7,1,1,1.0,1.0,222.0,0.0,0.0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,3,NaN,1,0,0,0,0,0,0,1,0,0,0,0
11876,0,144.81,1800.0,75.0,19.80,160.0,0.0,408.0,60.2,7.7,2.7,121.3,1.3,2.0,449.7,44.7,13.0,341.3,142.0,10.3,0.0,10.3,23,1,1,1.0,1.0,696.0,30.0,50.0,0,0,1,1,1,0,1,1,0,0,1,1,1,1,0,0,0,6,0,0,NaN,1,5,1.0,0,0,1,0,0,0,0,1,0,0,0,0

In [25]:
Train.shape

(33180, 66)

In [26]:
Test.head()

,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,DirectorAssistedCalls,OverageMinutes,RoamingCalls,PercChangeMinutes,PercChangeRevenues,DroppedCalls,BlockedCalls,UnansweredCalls,CustomerCareCalls,ThreewayCalls,ReceivedCalls,OutboundCalls,InboundCalls,PeakCallsInOut,OffPeakCallsInOut,DroppedBlockedCalls,CallForwardingCalls,CallWaitingCalls,MonthsInService,UniqueSubs,ActiveSubs,Handsets,HandsetModels,CurrentEquipmentDays,AgeHH1,AgeHH2,ChildrenInHH,HandsetRefurbished,HandsetWebCapable,TruckOwner,RVOwner,Homeownership,BuysViaMailOrder,RespondsToMailOffers,OptOutMailings,NonUSTravel,OwnsComputer,HasCreditCard,RetentionCalls,RetentionOffersAccepted,NewCellphoneUser,NotNewCellphoneUser,ReferralsMadeBySubscriber,IncomeGroup,OwnsMotorcycle,AdjustmentsToCreditRating,HandsetPrice,MadeCallToRetentionTeam,CreditRating,MaritalStatus,PrizmCode_Other,PrizmCode_Rural,PrizmCode_Suburban,PrizmCode_Town,Occupation_Clerical,Occupation_Crafts,Occupation_Homemaker,Occupation_Other,Occupation_Professional,Occupation_Retired,Occupation_Self,Occupation_Student
1437,0,118.66,1304.0,73.0,0.00,92.0,5.5,-218.0,-21.2,7.3,5.7,33.7,1.3,0.7,299.3,149.0,32.7,257.0,185.7,13.7,0.0,0.7,37,2,1,5.0,5.0,399.0,24.0,0.0,0,0,1,0,0,0,1,1,0,1,0,1,0,0,0,1,0,5,0,0,150,0,5,1.0,1,0,0,0,0,0,0,0,0,0,1,0
43760,1,38.22,666.0,18.0,0.00,38.0,0.5,84.0,56.4,0.7,0.0,10.3,0.7,0.0,12.4,2.0,0.0,20.0,11.0,0.7,0.0,0.0,12,2,2,1.0,1.0,353.0,46.0,42.0,1,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0,0,7,0,0,NaN,0,5,1.0,1,0,0,0,0,1,0,0,0,0,0,0
18298,1,58.60,256.0,50.0,2.23,0.0,3.4,28.0,-4.6,7.7,1.7,12.3,0.0,0.7,52.5,21.3,0.0,90.0,47.3,9.3,0.0,0.7,24,1,1,3.0,2.0,370.0,46.0,70.0,0,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0,0,4,0,0,150,0,6,NaN,1,0,0,0,0,0,0,1,0,0,0,0
9964,0,66.90,732.0,50.0,0.00,22.0,0.4,-200.0,-14.7,3.3,4.7,27.7,0.0,0.0,264.7,42.7,53.0,232.0,264.7,8.3,0.0,18.0,23,1,1,3.0,3.0,127.0,54.0,56.0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,8,0,0,40,0,6,1.0,0,0,1,0,0,0,0,0,1,0,0,0
5216,0,78.14,878.0,75.0,0.00,4.0,1.7,-106.0,-3.1,15.7,1.3,17.7,0.0,0.0,373.0,99.3,19.3,327.0,32.0,17.0,0.0,0.0,31,1,1,2.0,2.0,484.0,36.0,62.0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,6,0,0,30,0,7,NaN,1,0,0,0,0,0,0,1,0,0,0,0

In [27]:
Test.shape

(17867, 66)

In [28]:
MICE = IterativeImputer()
Train = MICE.fit_transform(Train)

C:\Users\ANWESHA\Anaconda3\lib\site-packages\sklearn\impute\_iterative.py:686: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  " reached.", ConvergenceWarning)

In [ ]:
Test = MICE.fit_transform(Test)

In [ ]:
#churnnp = dfchurn.to_numpy()

In [ ]:
#save('cust_Data.npy',dfdatanp)
#save('cust_ChurnLabel.npy',churnnp)

In [ ]:
Train.shape[0]

In [ ]:
Test.shape

In [ ]:
TrainData = Train[:,1:]
TrainLabel = Train[:,0]
TestData = Test[:,1:]
TestLabel = Test[:,0]

In [ ]:
print(TrainData.shape)

#add 1's for the coeff beta-0
beta0 = np.ones(TrainData.shape[0])
TrainData = np.column_stack((TrainData,beta0))

print(TrainData.shape)

#add 1's for coeff beta-0
beta0test = np.ones(TestData.shape[0])
TestData = np.column_stack((TestData, beta0test))
print(TestData.shape)

In [ ]:
print(TestData.shape)
print(TestLabel.shape)
print(TrainData.shape)
print(TrainLabel.shape)

In [ ]:

from numpy import save

save('TrainData.npy',TrainData)
save('TrainLabel.npy',TrainLabel)
save('TestData.npy',TestData)
save('TestLabel.npy',TestLabel)